<p>
  <strong>Tags:</strong>
  <%= tag.name %>
</p>
 
<p>
  <%= link_to 'Destroy Tags', [tag.post, tag],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>